
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by S-Tech and here its <a class="source" href="https://github.com/S-Techofficial/Blog-Website">Source Code</a>  </p>
  </div>
</div>
</body>
</html>
