
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a href="https://github.com/S-Techofficial/Blog-Website">Source Code</a>
    <p>Made with ❤️ by S-Tech</p>
  </div>
</div>
</body>
</html>
