<%- include("partials/header") -%>
<h1>About</h1>
<p><%= aboutPageContent %></p>
<h1>Software Used</h1>
<ul class="list">
    <li>Node.js</li>
    <li>Express.js</li>
    <li>Ejs</li>
    <li>Mongoose</li>
</ul>
<%- include("partials/footer") -%>